<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Авторизация</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        <header>
            <div class="logo"/>
            <input placeholder="Введите запрос" type="type" name="name"/>
        </header>
        <main>
            <form action="/web/welcome" class="authorization">
                <h2>Авторизация</h2>
                <label for="login">Логин</label>
                <input type="text" name="login" id="loginInput" placeholder="Введите логин"/>
                <label for="password">Пароль</label>
                <input type="password" name="password" id="passwordInput" placeholder="Введите пароль"/>
                <input type="submit" value="Войти" />
            </form>
        </main>
    </body>
</html>
