<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Авторизация сотрудника</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
    <body>
        <header>
            <div class="logo"/>
        </header>
        <main>
            <div class="login-container">
                <h2>Авторизация</h2>
                <form method="get" action="/web/signIn">
                    <div class="form-group">
                        <label for="login">Логин</label>
                        <input id="loginInput" type="text" name="login" placeholder="Введите логин">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input id="passwordInput" type="password" name="password" placeholder="Введите пароль"> 
                    </div>
                    <button id="authorizationButton" type="submit" class="login-button">Войти</button> 
                </form>
                <div/>
        </main>
    </body>
</html>
